@use '../util' as u;
@use '../global/typography' as t;

.booking-events {
  position: relative;
  padding-block-start: 5rem;
  padding-block-end: 6rem;

  justify-content: center;
  @include u.bp(lap) {
    padding-block: 7.5rem;
  }

  @include u.bp(desk) {
    padding-block: 9rem;
  }

  &__tabs {
    margin-block-end: 0.625rem;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    z-index: 5;
    top: 33rem;
    display: grid;
    justify-items: center;
    row-gap: 1.5rem;

    @include u.bp(lap) {
      margin-block-end: 0;
      grid-auto-flow: column;
      top: 33.5rem;
    }

    @include u.bp(desk) {
      padding-inline-start: 29rem;
      grid-auto-flow: row;
      top: 37rem;
    }
  }

  &__tab {
    padding: 0;
    position: relative;
    @include t.text-preset-5;
    text-transform: uppercase;
    border: 0;
    background: none;
    width: 24ch;
    color: var(--text-secondary-dk);
    transition: color 250ms ease-in-out;

    @include u.bp(desk) {
      text-align: start;
    }

    &[aria-selected='true'] {
      color: var(--active-hover);
    }

    &[aria-selected='true']::before {
      content: '';
      position: absolute;
      width: 3rem;
      height: 1px;
      background-color: var(--card-after);
      left: 50%;
      translate: -50% 0;
      bottom: -0.625rem;

      @include u.bp(desk) {
        text-align: start;
        width: 5.75rem;
        top: 0.5rem;
        left: 0;
        translate: calc((100% + 2rem) * -1);
      }
    }

    &:hover {
      cursor: pointer;
      color: var(--active-hover);
    }
  }

  &__tab-panels {
    position: relative;
  }

  &__pattern {
    position: absolute;
    right: 50%;
    transform: scaleY(-100%);
    translate: 0 -50%;

    @include u.bp(desk) {
      right: 68%;
    }
  }
  &__tabcontent {
    display: grid;
    justify-items: center;
    row-gap: 3rem;

    @include u.bp(lap) {
      row-gap: 3.5rem;
    }

    @include u.bp(desk) {
      grid-auto-flow: column;
      column-gap: 7.8rem;
      justify-content: center;
    }
  }
  &__picture-div {
    position: relative;
    width: u.pxRem(326);
    height: u.pxRem(400);

    @include u.bp(lap) {
      width: 36rem;
      height: 22.5rem;
    }
    @include u.bp(desk) {
      width: 33.75rem;
      height: 37.5rem;
    }
  }
  &__pattern-lines {
    position: absolute;
    top: -2.5rem;
    left: -3.625rem;

    @include u.bp(desk) {
      left: -2.5rem;
    }
  }
  &__cta {
    display: grid;
    justify-items: center;

    @include u.bp(desk) {
      justify-items: start;
      align-content: start;
      padding-block-start: 4.56rem;
    }
  }
  &__links {
    display: grid;
    justify-items: center;
    row-gap: 1.5rem;

    @include u.bp(lap) {
      grid-auto-flow: column;
      width: 43rem;
    }

    @include u.bp(desk) {
      grid-auto-flow: row;
      justify-items: start;
      order: 2;
      width: auto;
    }
  }
  &__item {
    position: relative;
  }
  &__item:first-child {
    margin-block-end: 0.625rem;

    @include u.bp(lap) {
      margin-block-end: 1.25rem;
    }

    @include u.bp(desk) {
      margin-block-end: 0;
    }
  }
  &__item:first-child::after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 1px;
    background-color: var(--card-after);
    left: 50%;
    translate: -50% 0;
    bottom: -0.625rem;

    @include u.bp(desk) {
      width: 6rem;

      top: 0.5rem;
      left: 0;
      translate: calc((100% + 2rem) * -1);
    }
  }
  &__link {
    &.event {
      color: var(--text-secondary-dk);
      transition: color 250ms ease-in-out;
      &:hover {
        color: var(--text-primary-dk);
      }
    }
  }

  &__title {
    padding-block-start: 9.2rem;
    margin-block-end: 0.75rem;

    @include u.bp(lap) {
      padding-block-start: 4.3rem;
      margin-block-end: 1.25rem;
    }

    @include u.bp(desk) {
      padding-block-start: 0;
    }
  }
  &__description {
    margin-block-end: 2rem;
    max-width: 36ch;

    @include u.bp(lap) {
      margin-block-end: 3.5rem;
      max-width: 40ch;
    }
    @include u.bp(desk) {
      max-width: 38ch;
    }
  }
}
