@use '../util' as u;

.cta {
  padding-block: 5rem;
  background: url('/src/assets/homepage/ready-bg-mobile@2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include u.bp(lap) {
    padding-block: 4.25rem;
    background: url('/src/assets/homepage/ready-bg-tablet@2x.jpg');
  }

  @include u.bp(desk) {
    padding-block: 5.5rem;
    background: url('/src/assets/homepage/ready-bg-desktop@2x.jpg');
  }

  &__container {
    display: grid;
    row-gap: 1.25rem;

    @include u.bp(lap) {
      row-gap: 1.5rem;
    }

    @include u.bp(desk) {
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}
