@use '../util' as u;
@use '../global/spacing' as s;

.header {
  position: relative;

  &__home-link {
    position: absolute;

    @include u.bp-max(lap) {
      top: var(--clamp-232-544);
      left: 50%;
      translate: -50% 0;
    }

    @include u.bp(desk) {
      top: 4rem;
    }
  }

  &__home-logo {
    width: u.pxRem(82);
    height: 2rem;

    @include u.bp(lap) {
      width: u.pxRem(103);
      height: 2.5rem;
    }
  }
}
