@use '../util' as u;

.hero-cta {
  &__wrapper {
    display: grid;
    z-index: 4;
    position: relative;
    padding-block-end: u.pxRem(154);

    @include u.bp(lap) {
      padding-block-end: u.pxRem(210);
    }

    @include u.bp(desk) {
      padding-block-end: u.pxRem(198);
    }
  }

  &__background {
  }

  &__text {
  }

  &__title {
    margin-block-end: 1.25rem;

    @include u.bp(desk) {
      margin-block-end: u.pxRem(10);
      max-width: 31.75rem;
    }
  }
  &__description {
    margin-block-end: 3rem;

    @include u.bp(lap) {
      margin-block-end: 3.5rem;
    }

    @include u.bp(desk) {
      margin-block-end: 2.5rem;
      max-width: 27.8rem;
    }
  }
  &__button-link {
  }
}
