@use '../util' as u;
@use '../global/typography' as t;

.button {
  padding: 1.5rem 3.5rem;
  color: var(--text-primary-lt);
  border: 1px solid var(--c-neutral-0);
  text-transform: uppercase;
  width: fit-content;
  @include t.text-preset-5;
  transition: 250ms ease-in-out;
  transition-property: color, background;

  &:hover {
    cursor: pointer;
    color: var(--text-primary-dk);
    background: var(--bg-main-lt);
  }

  @include u.bp-max(lap) {
    justify-self: center;
  }

  &.dark {
    background: var(--bg-main-dk);
    color: var(--text-primary-lt);
    transition: 250ms ease-in-out;
    transition-property: color, background;
    align-self: center;

    &.dk-form {
      padding: 1.5rem 2.25rem;

      @include u.bp(lap) {
        width: u.pxRem(444);
      }
    }
  }

  &.dark:hover {
    cursor: pointer;
    background: var(--bg-main-lt);
    color: var(--text-primary-dk);
    border: 1px solid var(--bg-main-dk);
  }
}
